{
    # Global options
    order wstunnel before reverse_proxy
}

example.com {
    # Basic wstunnel-go integration
    route /wstunnel/* {
        wstunnel {
            prefix /wstunnel
            mode rust
            ping_interval 30s
            idle_timeout 60s
            # mask_frame
            restrict_to google.com:443 127.0.0.1:22
            # restrict_config /etc/wstunnel/rules.yaml
        }
    }

    # Serve other content
    handle {
        root * /var/www/html
        file_server
    }
}
